{
  "presets": [
    [
      "env", {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        },
        "useBuiltIns": true
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime", "syntax-dynamic-import", [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]    
  ]
}