body
  font-family -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif
  user-select none
  line-height: 1.4
  touch-action: manipulation
  -webkit-tap-highlight-color: transparent
  -webkit-font-smoothing: antialiased
